# =========================
# BACK-END (Node.js)
# =========================
/BACK-END/node_modules
/BACK-END/dist
/BACK-END/vendidos.json
/BACK-END/.env
/BACK-END/npm-debug.log*
/BACK-END/yarn-debug.log*
/BACK-END/yarn-error.log*
/BACK-END/.DS_Store

# =========================
# FRONT-END (Angular)
# =========================
/FRONT-END/rifa/node_modules
/FRONT-END/rifa/dist
/FRONT-END/rifa/out-tsc
/FRONT-END/rifa/.angular/cache
/FRONT-END/rifa/.env
/FRONT-END/rifa/package-lock.json
/FRONT-END/rifa/yarn.lock
/FRONT-END/rifa/.DS_Store

# =========================
# IDEs / OS
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
.DS_Store
